@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");
* {
  font-family: Lato;
}

body {
  margin: 0;
}

#root {
  position: absolute;
  top: 0px;
  margin-left: 10px;
}

#tooltip > p {
  margin: 0;
}

#tooltip {
  position: absolute;
  transition: 200ms;
  opacity: 0;
}

#canvas {
  /* max-width: 1200px; */
  /* margin: auto causes issue with threejs raycaster: 
  https://stackoverflow.com/questions/50657526/does-getboundingclientrect-width-and-height-includes-paddings-and-borders-of-e
  https://stackoverflow.com/questions/20977347/getting-absolute-width-of-margins-issue-with-margin-auto
   */
  margin: auto;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
