@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");
* {
  font-family: Lato;
}

#tooltip > p {
    margin: 0;
  }
  
  canvas {
    position: absolute;
    top:0px;
  }
  
  #tooltip{
    position: absolute; 
    transition: 200ms;
    opacity: 0;
  }
  